
/* Desktop */
.col-1 {
  width: 8.33%
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
/* End Desktop*/
[class*="col-"] {
    float: left;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*END SIZING CLASSES*/
.aboutImage {
  height: 300px;
  overflow: auto;
  padding: 10px;
  float: left;
}
.aboutImage img {
  width: 100%;
  height: inherit;
}
#aboutContent {
  padding: 20px;
}
.aboutMe p {
  padding: 10px;
  line-height: 30px;
}
.connect {
  background-color: #ffffff;
  /*max-width: 648px;*/
  margin-left: 20px;
  /*width: 270px;*/
  /*float: left;*/
  padding: 10px;
}
.connect p {
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  border-width: 1px;
  color: #4aaaa5;
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.contentArea {
  background-color: #ffffff;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  float: left;
  /*max-width: 648px;*/
  margin-bottom: 20px;
}
.fa-github {
  color: #333;
}
.fa-linkedin {
  color: #0177b5;
}
.fa-stack-overflow {
  color: #f4842c;
}
.gpxvision {
  background-color: #4aaaa5;
  width: inherit;
  position:absolute !important;
  top:80%;
  left:50%;
  line-height: 40px;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  text-align:center;
}
.headingContainer {
  padding: 20px 20px 0px 20px;
}
.heading {
    color: #4aaaa5;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    padding: 20px;
    font-size: 25px;
}
#icons {
  text-align: center;
  padding: 15px;
}
#icons a {
  padding-right: 5px;
}
.imageContainer {
  width: inherit;
}
.imageContainer img {
  padding: 0;
}
.imageWrap, .projectImage, .gpxvision {
  position: relative;
  float: left;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;
}
.imageWrap a {
  width: 100%;
  padding: 0;
}
.imageWrap p {
  color: #ffffff;
  /*position:absolute;
  top:60%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  text-align:center;*/
}
.mainContent {
  margin-top: 50px;
}
#myName {
  background-color: #4aaaa5;
  color: #fff;
  text-decoration: none;
}
#myName p {
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
}
#nameContainer {
  float: left;
  margin-left: 20%;
  min-height: 50px;
  background-color: #4aaaa5;
  line-height: 60px;
}
.nav {
  min-height: 50px;
  background-color: #fff;
  border-bottom: solid 2px #777777;

}
.nav-items {
  width: 200px;
  margin-right: 10%;
  min-height: 50px;
  text-align: center;
}
.nav-items a {
  color: #777777;
  font-size: 16px;
  line-height: 80px;
  text-decoration: none;
  padding-right: 10px;
}
.nav-items a:hover {
  color: #4aaaa5;
}
#portfolio {
  border-left: solid 2px;
  border-right: solid 2px;
  padding: 4px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:before,
.row:after{
  display: table;
}
.row:after {
  clear: both;
}
#submitButton {
  background-color: #4aaaa5;
  color: #fff;
  font-size: 20px;
  width: 150px;
  height: 50px;
}
